@page "/signin"

<div class="vh-100 100-vw p-3 d-flex flex-column justify-content-center align-items-center">
    <div class="">
        <img class="mx-auto logo" src="/images/mountain.png" alt="logo" />
        <h3 class="m-2">TripTracker</h3>
    </div>

    <EditForm Model="_model">
        @* <DataAnnotationsValidator>

        </DataAnnotationsValidator> *@
        <div class="card border-0 shadow-sm">
            <div class="card-body text-center">
                <h4>Welcome back</h4>
                <p class="text-muted">Sign-in to your TripTracker account</p>
                <div class="vstack text-start">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <InputText @bind-Value="_model.Username" placeholder="Enter Username" class="form-control rounded-pill fs-6" />
                        <ValidationMessage For="() => _model.Username" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <InputText @bind-Value="_model.Password" type="password" placeholder="Enter Password" class="form-control rounded-pill fs-6" />
                        <ValidationMessage For="() => _model.Password" />
                    </div>
                    <button type="submit" class="btn btn-primary rounded-pill">Signin</button>
                </div>
            </div>
        </div>
    </EditForm>
</div>

@code {
    private SigninModel _model = new();
}

<style type="text/css" scoped>
    .logo {
        height: 100px;
        width: 100px;
    }
</style>
